body{
    width: 100%;
    color: black;
    background-color: rgb(235, 122, 42);
}

button{
    width: 70px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-size: large;
    font-weight: bolder;
    margin-top: 5%;
}

.box{
    text-align: center;
}
.box input{
    padding: 10px 10px;    
}
/* .radio-buttons{
    margin-left: 20%;
    margin-right: 20%;
} */
.radio-buttons input{
    margin-left: 10%;
}
.radio-buttons{
    margin-left: 20%;
}
.butt{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 50%;
}
.container{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%; 
}


@media (max-width:150px){
    .container{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

}